$atomic-unit: 16.666666%;
$cell-width-vertical:31.33333%;
$blue:#66CCFF;
$red:#FF0000;
$green:#009900;
$yellow:#FFCC00;

body {
  background-color: #0040ff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.gray{
  color: darkslategray
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.text-center {
  text-align: center;
}
.container-square {
  position: relative;
  width: 500px;
  aspect-ratio:1/1;
   border:1px #3498db solid;
   margin: auto;
   font-size: 0;
   display: flex;
   flex-wrap: wrap;   
   border: 15px solid #6E260E;
}


.container-square > * {
  font-size: 1rem; /* Reset font size for inner elements */
}

.home-container{
  width: 40%;
  aspect-ratio:1/1;
}
.home-container.green{
  background-color: $green;
}
.home-container.red{
  background-color: $red;
}
.home-container.yellow{
  background-color: $yellow;
}
.home-container.blue{
  background-color: $blue;
}
.top-passage{
  width: 20%;
  height: 40%;
  
}
.left-passage{
  width: 40%;
  height: 20%;
}
.right-passage{
  width: 40%;
  height: 20%;
}
.bottom-passage{
  width: 20%;
  height: 40%;
}
.passage{
  background-color: #FAF9F6;
  position: relative;
}
.home-container-all{
  width: 20%;
  height: 20%;
}
.home-colors.red{
  width: 0; 
  height: 0; 
  border-bottom: 52px solid $red;
  border-left: 52px solid $green;
  border-top: 52px solid $yellow;
  border-right: 52px solid $blue;
}
.home-colors.green{
  width: 0; 
  height: 0; 
  border-bottom: 52px solid $green;
  border-left: 52px solid $yellow;
  border-top: 52px solid $blue;
  border-right: 52px solid $red;
}
.home-colors.yellow{
  width: 0; 
  height: 0; 
  border-bottom: 52px solid $yellow;
  border-left: 52px solid $blue;
  border-top: 52px solid $red;
  border-right: 52px solid $green;
}
.home-colors.blue{
  width: 0; 
  height: 0; 
  border-bottom: 52px solid $blue;
  border-left: 52px solid $red;
  border-top: 52px solid $green;
  border-right: 52px solid $yellow;
}
.home-square{
  width:$atomic-unit *4;
  aspect-ratio:1/1;
  background-color: #FEFEFA;
  margin-left: $atomic-unit;
  margin-top:$atomic-unit;
  display: flex;
  flex-wrap: wrap;
}
.home-square-circle{
  width: 25%;
  height: 25%;
  margin-left: 16%;
  margin-top: 13%;
  border-radius: 50%;
}
.home-square-circle.green{
  background-color: $green;
}
.home-square-circle.red{
  background-color: $red;
}
.home-square-circle.blue{
  background-color: $blue;
}
.home-square-circle.yellow{
  background-color: $yellow;
}
.passage-container-vertical{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
  grid-template-rows: repeat(6, 1fr);
}
.passage-container-horizontal{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 3 columns with equal width */
  grid-template-rows: repeat(3, 1fr);
}
.cell{
  border: 0.5px #D3D3D3 solid;
  position: relative;
}
.passage-container-top.color-yellow  div:nth-child(5),
.passage-container-top.color-yellow div:nth-child(6),
.passage-container-top.color-yellow div:nth-child(8),
.passage-container-top.color-yellow div:nth-child(11),
.passage-container-top.color-yellow div:nth-child(14),
.passage-container-top.color-yellow div:nth-child(17) {
  background-color: $yellow;
}
.passage-container-top.color-red  div:nth-child(5),
.passage-container-top.color-red div:nth-child(6),
.passage-container-top.color-red div:nth-child(8),
.passage-container-top.color-red div:nth-child(11),
.passage-container-top.color-red div:nth-child(14),
.passage-container-top.color-red div:nth-child(17) {
  background-color: $red;
}
.passage-container-top.color-blue  div:nth-child(5),
.passage-container-top.color-blue div:nth-child(6),
.passage-container-top.color-blue div:nth-child(8),
.passage-container-top.color-blue div:nth-child(11),
.passage-container-top.color-blue div:nth-child(14),
.passage-container-top.color-blue div:nth-child(17) {
  background-color: $blue;
}
.passage-container-top.color-green  div:nth-child(5),
.passage-container-top.color-green div:nth-child(6),
.passage-container-top.color-green div:nth-child(8),
.passage-container-top.color-green div:nth-child(11),
.passage-container-top.color-green div:nth-child(14),
.passage-container-top.color-green div:nth-child(17) {
  background-color: $green;
}



.passage-container-left.color-green div:nth-child(2),
.passage-container-left.color-green div:nth-child(8),
.passage-container-left.color-green div:nth-child(9),
.passage-container-left.color-green div:nth-child(10),
.passage-container-left.color-green div:nth-child(11),
.passage-container-left.color-green div:nth-child(12) {
  background-color: $green;
}

.passage-container-left.color-red div:nth-child(2),
.passage-container-left.color-red div:nth-child(8),
.passage-container-left.color-red div:nth-child(9),
.passage-container-left.color-red div:nth-child(10),
.passage-container-left.color-red div:nth-child(11),
.passage-container-left.color-red div:nth-child(12) {
  background-color: $red;
}
.passage-container-left.color-yellow div:nth-child(2),
.passage-container-left.color-yellow div:nth-child(8),
.passage-container-left.color-yellow div:nth-child(9),
.passage-container-left.color-yellow div:nth-child(10),
.passage-container-left.color-yellow div:nth-child(11),
.passage-container-left.color-yellow div:nth-child(12) {
  background-color: $yellow;
}
.passage-container-left.color-blue div:nth-child(2),
.passage-container-left.color-blue div:nth-child(8),
.passage-container-left.color-blue div:nth-child(9),
.passage-container-left.color-blue div:nth-child(10),
.passage-container-left.color-blue div:nth-child(11),
.passage-container-left.color-blue div:nth-child(12) {
  background-color: $blue;
}


.passage-container-right.color-blue div:nth-child(7),
.passage-container-right.color-blue div:nth-child(8),
.passage-container-right.color-blue div:nth-child(9),
.passage-container-right.color-blue div:nth-child(10),
.passage-container-right.color-blue div:nth-child(11),
.passage-container-right.color-blue div:nth-child(17) {
  background-color: $blue;
}

.passage-container-right.color-yellow div:nth-child(7),
.passage-container-right.color-yellow div:nth-child(8),
.passage-container-right.color-yellow div:nth-child(9),
.passage-container-right.color-yellow div:nth-child(10),
.passage-container-right.color-yellow div:nth-child(11),
.passage-container-right.color-yellow div:nth-child(17) {
  background-color: $yellow;
}
.passage-container-right.color-red div:nth-child(7),
.passage-container-right.color-red div:nth-child(8),
.passage-container-right.color-red div:nth-child(9),
.passage-container-right.color-red div:nth-child(10),
.passage-container-right.color-red div:nth-child(11),
.passage-container-right.color-red div:nth-child(17) {
  background-color: $red;
}
.passage-container-right.color-green div:nth-child(7),
.passage-container-right.color-green div:nth-child(8), 
.passage-container-right.color-green div:nth-child(9),
.passage-container-right.color-green div:nth-child(10),
.passage-container-right.color-green div:nth-child(11),
.passage-container-right.color-green div:nth-child(17) {
  background-color: $green;
}


.passage-container-bottom.color-red div:nth-child(2),
.passage-container-bottom.color-red div:nth-child(5),
.passage-container-bottom.color-red div:nth-child(8),
.passage-container-bottom.color-red div:nth-child(11),
.passage-container-bottom.color-red div:nth-child(14),
.passage-container-bottom.color-red div:nth-child(13) {
  background-color: $red;
}
.passage-container-bottom.color-green div:nth-child(2),
.passage-container-bottom.color-green div:nth-child(5),
.passage-container-bottom.color-green div:nth-child(8),
.passage-container-bottom.color-green div:nth-child(11),
.passage-container-bottom.color-green div:nth-child(14),
.passage-container-bottom.color-green div:nth-child(13) {
  background-color: $green;
}
.passage-container-bottom.color-yellow div:nth-child(2),
.passage-container-bottom.color-yellow div:nth-child(5),
.passage-container-bottom.color-yellow div:nth-child(8),
.passage-container-bottom.color-yellow div:nth-child(11),
.passage-container-bottom.color-yellow div:nth-child(14),
.passage-container-bottom.color-yellow div:nth-child(13) {
  background-color: $yellow;
}
.passage-container-bottom.color-blue div:nth-child(2),
.passage-container-bottom.color-blue div:nth-child(5),
.passage-container-bottom.color-blue div:nth-child(8),
.passage-container-bottom.color-blue div:nth-child(11),
.passage-container-bottom.color-blue div:nth-child(14),
.passage-container-bottom.color-blue div:nth-child(13) {
  background-color: $blue;
}


@media only screen and (max-width: 600px) {
  .container-square {
    position: relative;
    max-width: 90vw;
    aspect-ratio:1/1;
  }
  .home-colors.red{
    width: 0; 
    height: 0; 
    border-bottom: 33px solid $red;
    border-left: 33px solid $green;
    border-top: 33px solid $yellow;
    border-right: 33px solid $blue;
  }
  .home-colors.green{
    width: 0; 
    height: 0; 
    border-bottom: 33px solid $green;
    border-left: 33px solid $yellow;
    border-top: 33px solid $blue;
    border-right: 33px solid $red;
  }
  .home-colors.yellow{
    width: 0; 
    height: 0; 
    border-bottom: 33px solid $yellow;
    border-left: 33px solid $blue;
    border-top: 33px solid $red;
    border-right: 33px solid $green;
  }
  .home-colors.blue{
    width: 0; 
    height: 0; 
    border-bottom: 33px solid $blue;
    border-left: 33px solid $red;
    border-top: 33px solid $green;
    border-right: 33px solid $yellow;
  }
  }